.main-display {
    grid-row: 2;
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    column-gap: 10px;
    width: 100vw;
    padding: 20px;
    justify-content: space-around;
    overflow: scroll;
}