.my-modal{
    grid-row: 1;
    grid-column: 6;
    justify-self: right;
}

.my-modal .my-modal__open-modal {
    cursor: pointer;
    color: white;
    height: 30px;
    width: 40px;
    padding: 0px;
    margin-right: 5px;
    background-color: hsl(210, 70%, 80%);
    color: black;
}

.my-modal .my-modal__open-modal:hover{
    background-color: hsl(210, 70%, 40%);
    color: white;
    transition: 300ms;
}

.my-modal__modal-content {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    height: 240px;
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 50px 180px;
    grid-template-columns: 400px;
    
    justify-items: center;
}

.my-modal__modal-header {
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
    align-self: end;
    font-weight: lighter;
    width: 400px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: solid;
    border-width: 1px;
}

.my-modal__modal-form{
    grid-row: 2;
    justify-self: center;

    display: grid;
    width: 400px;
    grid-template-rows: 60px 60px 60px;
    grid-template-columns: 380px;
    padding: 10px;
    margin-top: 10px;

}

.my-modal__username{
    grid-row: 1;
    grid-column: 1;

}

.my-modal__password {
    grid-row: 2;
    grid-column: 1;
}

.my-modal__submit {
    grid-row: 3;
    width: 40px;
    height: 30px;
    justify-self: end;
    align-self: start;
    grid-column: 1;
}

.my-modal__close-modal {
    grid-row: 3;
    cursor: pointer;
    height: 30px;
    width: 40px;
    margin-right: 70px;
    justify-self: end;
    align-self: start;
    grid-column: 1;
}