.my-modal{
    grid-row: 1;
    grid-column: 5;
    justify-self: center;
}

.my-modal .my-modal__open-modal {
    cursor: pointer;
    background-color: hsl(200, 70%, 30%);
    color: white;
    border: none;
    height: 30px;
    padding: 3px;
    width: 130px;
    margin-right: 5px;
}

.my-modal .my-modal__open-modal:hover{
    background-color: hsl(200, 70%, 20%)
}

.my-modal__modal-content {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    display: grid;
    padding: 10px;
    justify-items: center;
}

.my-modal__close-modal {
    cursor: pointer;
    height: 30px;
    width: 40px;
    justify-self: end;
}