* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: black;
  transition: 500ms;
}

a:hover {
  color: hsl(0, 0%, 70%);
  transition: 500ms;
}